# PANDAS VALUE_COUNT()

In [26]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Autoriser l'affichage de tous les enregistrements d'un dataset
pd.set_option('display.max_rows', None)

In [27]:
# Reading in the data
train = pd.read_csv("data/titanic/train.csv")

In [28]:
# See the head
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
# Dataset dimension
train.shape

(891, 12)

In [30]:
# Describe the dataset
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [31]:
# Visualisation des colonnes ayant des valeurs nulles
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### Conclusion: les colonnes Age, Cabin et Embarked ont des valeurs nulles.

### 1. value_counts() -> sans argument (valeur par défaut)

In [32]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [33]:
# La fonction renvoie le compte de toutes les valeurs uniques dans l'indice donné en ordre décroissant sans aucune valeur nulle.

#### CONCLUSION
##### 549 personnes n'ont pas survecu selon le dataset
##### 342 personnes ont servecu selon le dataset

### 2. value_counts() -> avec argument

##### 1 - Obtenir le précédent résultat en pourcentage

In [34]:
train['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [35]:
# En réglant normalize=True, l'objet renvoyé contiendra les fréquences relatives des valeurs uniques.

#### CONCLUSION
##### 61% n'ont pas survecu
##### 38% ont servecu

##### 2 - Obtenir le précédent résultat en ordre décroissant

In [36]:
train['Survived'].value_counts(ascending=True)

1    342
0    549
Name: Survived, dtype: int64

##### 3 - Affichage des NaN values avec value_count()

In [37]:
# Par défaut value_count() n'affiche que les valeurs pour les index (valeurs colonne) différents de NaN

In [38]:
train['Embarked'].value_counts(dropna=False, normalize=True)

S      0.722783
C      0.188552
Q      0.086420
NaN    0.002245
Name: Embarked, dtype: float64

#### CONCLUSION: 2 valeurs nulles dans la colonne "Embarked"

In [39]:
# Affichage de value_counts avec NaN

##### 4 - Regrouper les données continues en intervalles discrets

In [40]:
# Exemple d'affichage d'une colonne "Entier"

In [41]:
train['Fare'].value_counts()

8.0500      43
13.0000     42
7.8958      38
7.7500      34
26.0000     31
10.5000     24
7.9250      18
7.7750      16
26.5500     15
0.0000      15
7.2292      15
7.8542      13
8.6625      13
7.2500      13
7.2250      12
16.1000      9
9.5000       9
24.1500      8
15.5000      8
56.4958      7
52.0000      7
14.5000      7
14.4542      7
69.5500      7
7.0500       7
31.2750      7
46.9000      6
30.0000      6
7.7958       6
39.6875      6
21.0000      6
27.9000      6
26.2500      6
27.7208      5
30.5000      5
73.5000      5
53.1000      5
15.2458      5
29.1250      5
34.3750      4
11.5000      4
21.0750      4
35.5000      4
12.4750      4
7.7333       4
110.8833     4
7.8792       4
227.5250     4
79.2000      4
31.3875      4
120.0000     4
27.7500      4
25.4667      4
7.5500       4
39.0000      4
263.0000     4
151.5500     4
15.8500      4
7.1250       4
13.5000      4
90.0000      4
19.2583      4
7.6500       4
23.0000      4
52.5542      3
29.7000      3
86.5000      3
113.2750     3
20.5250      3
79.6500      3
76.7292      3
14.4583      3
211.3375     3
18.7500      3
31.0000      3
11.1333      3
26.2875      3
512.3292     3
135.6333     3
41.5792      3
7.4958       3
12.3500      3
153.4625     3
18.0000      3
77.9583      3
33.0000      3
83.1583      3
108.9000     2
20.5750      2
23.4500      2
66.6000      2
55.9000      2
80.0000      2
51.8625      2
19.9667      2
78.2667      2
133.6500     2
56.9292      2
29.0000      2
7.8292       2
65.0000      2
9.0000       2
6.7500       2
9.5875       2
30.6958      2
146.5208     2
18.7875      2
6.4958       2
71.0000      2
24.0000      2
23.2500      2
20.2500      2
17.8000      2
19.5000      2
49.5042      2
27.0000      2
164.8667     2
57.0000      2
134.5000     2
55.0000      2
9.2250       2
15.7417      2
36.7500      2
83.4750      2
6.9750       2
9.8250       2
20.2125      2
10.4625      2
22.3583      2
77.2875      2
39.6000      2
25.9292      2
14.4000      2
15.9000      2
93.5000      2
57.9792      2
7.7375       2
7.0542       2
11.2417      2
69.3000      2
78.8500      2
262.3750     2
106.4250     2
82.1708      2
91.0792      2
30.0708      2
247.5208     2
16.7000      2
9.3500       2
89.1042      2
37.0042      2
63.3583      1
8.5167       1
15.0000      1
15.1000      1
76.2917      1
32.5000      1
49.5000      1
28.5000      1
35.0000      1
12.0000      1
38.5000      1
7.8750       1
9.4833       1
71.2833      1
12.8750      1
14.0000      1
7.0458       1
75.2500      1
7.7250       1
16.0000      1
32.3208      1
7.8000       1
15.0458      1
6.8583       1
8.4042       1
7.7417       1
21.6792      1
6.4500       1
7.7875       1
4.0125       1
7.3125       1
15.7500      1
33.5000      1
12.5250      1
55.4417      1
50.0000      1
6.4375       1
26.2833      1
39.4000      1
9.8458       1
8.8500       1
5.0000       1
9.2167       1
40.1250      1
50.4958      1
221.7792     1
59.4000      1
10.5167      1
12.6500      1
6.2375       1
10.1708      1
13.8625      1
47.1000      1
15.0500      1
7.6292       1
13.8583      1
8.1583       1
8.0292       1
22.0250      1
15.5500      1
22.5250      1
25.9250      1
8.1375       1
81.8583      1
8.1125       1
61.9792      1
34.0208      1
7.1417       1
42.4000      1
211.5000     1
12.2750      1
61.1750      1
8.4333       1
51.4792      1
7.8875       1
8.6833       1
7.5208       1
34.6542      1
28.7125      1
25.5875      1
7.7292       1
12.2875      1
8.6542       1
8.7125       1
61.3792      1
6.9500       1
9.8417       1
8.3000       1
13.7917      1
9.4750       1
13.4167      1
26.3875      1
8.4583       1
9.8375       1
8.3625       1
14.1083      1
17.4000      1
Name: Fare, dtype: int64

In [44]:
train['Fare'].value_counts(bins=7)

(-0.513, 73.19]       789
(73.19, 146.38]        71
(146.38, 219.57]       15
(219.57, 292.76]       13
(439.139, 512.329]      3
(365.949, 439.139]      0
(292.76, 365.949]       0
Name: Fare, dtype: int64

##### CONCLUSION: bin() permet de définir le nombre d'intervalle

In [45]:
# Binning permet de comprendre facilement la dispersion des données. 
# Nous pouvons facilement constater que la plupart des personnes sur l'ensemble de la population ont payé moins de 73,19 pour leur billet.